@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #ca9c5e;
  --accent-secondary: #1a1b25;
  --footer-background: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "DM Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  --font-signiture: "Allura", cursive;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
    "Courier New", monospace;

  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
  --color-footer-background: var(--footer-background);
}

@theme {
  --animate-kenburns: kenburns-top 16s ease-out both;
  --font-signiture: "allura";

  @keyframes kenburns-top {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
    }
    100% {
      transform: scale(1.15) translateY(-10px);
      transform-origin: top;
    }
  }

  @keyframes fill-up {
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.lang-fa {
  direction: ltr;
}
.lang-fa .rtltxt {
  direction: rtl;
  unicode-bidi: embed;
}
.lang-fa .rtltxt .text-left {
  text-align: right;
}
.lang-fa .rtltxt .text-right {
  text-align: left;
}
.lang-fa .rtltxt .pl-4 {
  padding-left: 0 !important;
  padding-right: 1rem !important;
}
.lang-fa .rtltxt .pr-4 {
  padding-right: 0 !important;
  padding-left: 1rem !important;
}

.js-loading h1,
.js-loading h2,
.js-loading h3,
.js-loading h4,
.js-loading p,
.js-loading li,
.js-loading blockquote {
  opacity: 0;
}
